
.Page-Title {
  height: 40vh;
  background-color: #EF6C00 !important;
  font-weight: 700;
  padding-left: 15px;
  padding-top: 20px;
}
.room-banner {
  padding-top: 100px;
  padding-bottom: 100px;
  /* background-color: #EF6C00 !important; */
  background-image: url(../img/room/1.jpeg);
  /* filter: brightness(50%); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
}
.room-banner::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.7;
  z-index: -1;
}
.top-services-section-1
{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: none;
}
#hotel
{
color: #fefafa;;
position: relative;
z-index: 1;
}
.hotel-img{
color: #fefafa;;
  padding-bottom: auto;
  position: relative;
  z-index: 1;
}
